<!DOCTYPE html>
<html>

<head> 
<title>Travel Wishlist </title>
<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

</head>

<h1>Where do I want to go?</h1>
<body> 

<!-- auto fill templates here -->
{% block content %}
{% endblock %}


</body>

<div>
    <p>A travel Wishlist, built with Django</p>
    <a class="nav-link" href="{% url 'place_list' %}"> My wishlist </a>
    <a class="nav-link" href="{% url 'places_visited' %}"> Places I've visited </a>
</div> 




</html>