{% extends 'travel_wishlist/base.html' %}
    
h2>Travel Wishlist</h2>

<form method="POST" action="{% url 'place_list' %}">
    {% csrf_token %}
    {{ new_place_form }}
    <button id="add-new-place" type="submit">Add</button>  <!--ID assigned so functional_test.py can find it -->
</form>


{ % for place in places % }
<!--builds the URL and provide the place.pk one or many and become part of the URL 
it will talk to urls.py and generate the right URL and the right request will be made-->
<div class="wishlist-place">
    <span id="place-name-{{ place.pk }}" class="place-name">{{ place.name }}</span>  <!--#given id so selenium can identify -->
    <form class="visited-form" method="POST" action="{% url 'place_was_visited' place.pk %}">
        {% csrf_token %}
        <button id="visited-button-{{ place.pk }}" type="submit">Visited!</button>  <!--#given id so selenium can identify -->
    </form>

</div>

{% empty %}

<p>
You have no places in your wishlist.</p>

{ % endfor % }

<!--moved to base.html <a href="{% url 'places_visited' %}"> Places you've visited </a>  -->